<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="">
            <a class="" th:href="@{/}">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Vehicle</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" th:href="@{/vehicle}">Vehicle Data</a></li>
              <li><a class="" th:href="@{/vehicle_maintenance}">Maintenance</a></li>
              <li><a class="" th:href="@{/vehicle_movement}">Movement</a></li>
              <li><a class="" th:href="@{/vehicle_hire}">Hires</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Parameters</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" th:href="@{/vehicle_make}">Vehicle Make</a></li>
              <li><a class="" th:href="@{/vehicle_model}">Vehicle Model</a></li>
              <li><a class="" th:href="@{/vehicle_type}">Vehicle Type</a></li>
              <li><a class="" th:href="@{/vehicle_status}">Status Values</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>People</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" th:href="@{/clients}">Clients</a></li>
              <li><a class="" th:href="@{/employees}">Employees</a></li>
              <li><a class="" th:href="@{/suppliers}">Suppliers</a></li>
              <li><a class="" th:href="@{/contact}">Contacts</a></li>
              <li><a class="" th:href="@{/user}">Users</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>HR Settings</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" th:href="@{/job_title}">Job Title</a></li>
              <li><a class="" th:href="@{/employee_type}">Employee Type</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Accounts</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" th:href="@{/invoice}">Invoice</a></li>
              <li><a class="" th:href="@{/invoice_status}">Invoice Status Values</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Globals</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
            <ul class="sub">
              <li><a class="" th:href="@{/countries}">Countries</a></li>
              <li><a class="" th:href="@{/state}">States</a></li>
              <li><a class="" th:href="@{/location}">Locations</a></li>
            </ul>
          </li>
          
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->